<div class="content">
  <div class="container">
    <div class="box">
      <div class="box-content">
        <div class="login-credentials">
          <p class="header">Login</p>
          <p class="subheader">Selamat datang kembali di BeaScholar!</p>
          <form>
            <div class="email-input">
              <img class="email-image" src="../../assets/email.png" />
              <input placeholder="Masukan Email" type="email" />
            </div>
            <div class="password-input">
              <img class="lock-image" src="../../assets/lock.png" />
              <input placeholder="Masukan Password" type="password" />
              <img class="visible-image" src="../../assets/visible.png" />
            </div>
            <div class="create-account">
              <p class="create-account-text">Baru di BeaScholar?</p>
              <a class="link-create-account">Daftar disini</a>
            </div>
            <div class="expert-login">
              <p class="expert-login-text">Apakah kamu seorang Expert?</p>
              <a class="link-expert-login">Login sebagai Expert</a>
            </div>
            <button class="login-button">Login</button>
          </form>
        </div>
        <div class="seperator">
          <hr class="line" />
          <p class="seperator-text">atau login dengan</p>
          <hr class="line" />
        </div>
        <div class="third-party">
          <div class="google">
            <img class="google-image" src="../../assets/google.png" />
          </div>
          <div class="facebook">
            <img class="facebook-image" src="../../assets/facebook.png" />
          </div>
          <div class="microsoft">
            <img class="microsoft-image" src="../../assets/microsoft.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
